@import "tailwindcss";

* {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

html{
  overflow-x: hidden !important;
  max-width: 100vw !important;
}

body {
  overflow-x: hidden !important;
  max-width: 100vw !important;
  margin: 0 !important;
  padding: 0 !important;
}

#root {
  overflow-x: hidden !important;
  max-width: 100vw !important;
}



